body {
    background-color: rgb(240, 255, 237);
            width:600px;
            height:60em;
            padding: 60px 40px;
            max-width: 800px;
            margin: 0 auto;
            line-height: 1.6;
            font-size: medium;
            /* border-left-style: dotted; */
               
  

}
h1 {
    font-family: Serif;

}

p {
    font-family: DS Forelle;
    font-size: xx-large;

}
@font-face {
    font-family: "DS Forelle";
    src:
        url(font/ DSForelle.otf) format("opentype") 
}
/* @font-face {
    font-family: "DS Dekorative";
    src:
        url(font/DSDekorative.ttf) format("opentype")
} */